.catalog {
  margin-bottom: 80px;
}

.catalog__order {
  min-height: 48px;
  margin-bottom: 30px;
}

.catalog__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 16px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 145px);
  gap: 10px;
}

.number-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8vh;
  margin: 0;
  padding: 0;
}

.number-next-link {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.number-next {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #f2eeee;
  box-sizing: border-box;
}

/* Для першого елемента */
.number-next-link:first-child {
  margin-left: 900px; /* Змінено з 200px на 900px */
}

/* Для інших елементів */
.number-next-link:not(:first-child) {
  margin-left: 2px;
}

/* Адаптація для ширини екрану менше 600px */
@media (max-width: 600px) {
  .number-next-link:first-child {
    margin-left: 20px; /* Змінено з 900px на 20px */
  }

  .number-next-link:not(:first-child) {
    margin-left: 2px;
  }
}









@media (max-width: 1024px) {
  .number-next {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .number-next {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .number-next {
    margin-left: 10px;
    width: 80px;
    height: 30px;
    font-size: 13px;
  }
}



@media (min-width: 1024px) {
  .catalog {
    margin-bottom: 100px;
  }
  
  .catalog__container {
    display: flex;
    gap: 30px;
  }

  .catalog__order {
    padding-top: 72px;
  }

  .catalog__wrapper {
    flex-grow: 1;
  }

  .catalog__title {
    font-weight: 600;
    margin-bottom: 24px;
  }

  .catalog__list {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
  }
}